[submodule "third_party/wanda"]
	path = third_party/wanda
	url = https://github.com/locuslab/wanda.git
[submodule "third_party/llm-awq"]
	path = third_party/llm-awq
	url = https://github.com/mit-han-lab/llm-awq.git
[submodule "lm-evaluation-harness"]
	path = lm-evaluation-harness
	url = https://github.com/eth-sri/lm-evaluation-harness.git
[submodule "pruning/wanda"]
	path = pruning/wanda
	url = https://github.com/john-hewitt/wanda.git
